@use './reset.scss';
@use './variables.scss';

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-body);
  background: var(--color-bg);
  color: var(--color-text);
}

#root {
  min-height: 100%;
}
