@use "./reset.scss";
@use "./toastStyles.scss";
html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-body;
  background: $color-white;
  color: $color-text;
}

#root {
  min-height: 100%;
}
