.app {
  min-height: 100dvh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;

  background: $color-white;
  color: $color-text;

  &__content {
    min-height: 0;
    display: block;
    margin-inline: auto;
    width: 100%;
    height: 100%;
    max-width: 100vw;
  }
}
