@use '../styles/variables' as *;

.app {
  min-height: 100dvh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;

  background: var(--color-bg);
  color: var(--color-text);

  &__content {
    min-height: 0;
    display: block;
    margin-inline: auto;
    width: 100%;
    height: 100%;
  }
}
