.slideshow {
  position: absolute;
  inset: 0;
  z-index: 0;
  overflow: hidden;

  &__slide {
    position: absolute;
    inset: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    opacity: 0;
    transform: scale(1.05);
    transition: opacity 1.4s ease, transform 8s ease;
  }

  &__slide--active {
    opacity: 1;
    transform: scale(1);
  }
}
