.how-we-work {
  width: 100%;
  padding: 120px 0 120px;
  background: #f5f1e8;

  &__header {
    text-align: center;
    margin-bottom: 64px;
  }

  &__timeline {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0 0 0;

    &::before {
      content: '';
      position: absolute;
      inset-block: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 1px;
      background: rgba(0, 0, 0, 0.15);
      pointer-events: none;
    }
  }

  &__row {
    position: relative;
    display: grid;
    grid-template-columns: minmax(0, 1fr) 40px minmax(0, 1fr);
    align-items: flex-start;
    column-gap: 32px;

    &--left {
      .how-we-work__card {
        margin-left: auto;
        text-align: right;
      }
    }

    &--right {
      margin-top: 24px;
      .how-we-work__card {
        margin-right: auto;
        text-align: left;
      }
    }
  }

  &__col {
    &--center {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
    }
  }

  &__marker {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2.5px solid rgba(0, 0, 0, 0.6);
    background: #f5f1e8;
    z-index: 1;
  }

  &__card {
    max-width: 400px;
  }
}
