@use '../../app/styles/variables' as *;

.topbar {
  display: flex;
  align-items: center;

  height: var(--header-top-height);
  background: var(--color-surface);
  padding: var(--header-top-padding) 0px;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;

    @media (max-width: 720px) {
      flex-wrap: wrap;
      row-gap: 6px;
    }
  }

  &__logo {
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 0.2px;
    color: var(--color-brand);
    text-decoration: none;
  }

  &__logo-image {
    height: calc(var(--header-top-height) - 2 * var(--header-top-padding));
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

    @media (max-width: 720px) {
      flex-wrap: wrap;
      gap: 8px;
    }

    .contact-link {
      font-size: 36px;
      line-height: 100%;
      font-weight: 100;
      text-decoration: none;
      color: var(--color-text);
      white-space: nowrap;
      text-decoration-line: none;
    }

    .contact-text {
      color: var(--color-text-muted);
      white-space: nowrap;
      font-size: 13px;
      line-height: 120%;
      font-weight: 500;
    }

    .dot {
      color: var(--color-border);
    }
  }
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;

  height: var(--header-nav-height, 56px);
  background: var(--color-surface);
  border-bottom: 1px solid var(--color-border);
  display: flex;
  align-items: center;

  backdrop-filter: saturate(140%) blur(8px);

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 22px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}

.nav-link {
  text-decoration: none;
  color: var(--color-text);
  padding: 12px 24px;
  border-radius: 8px;
  transition: background 0.15s ease-in-out;
  white-space: nowrap;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  transition: all 0.4s ease;

  &:hover {
    color: var(--color-brand);
  }

  &.is-active {
    color: var(--color-brand);
  }
}
