@use "../../../app/styles/variables" as *;

.container {
  width: 100%;
  max-width: var(--container-max);
  margin-inline: auto;
  box-sizing: border-box;

  padding-left: calc(clamp(16px, 4vw, 24px) + env(safe-area-inset-left));
  padding-right: calc(clamp(16px, 4vw, 24px) + env(safe-area-inset-right));
}
