.privacy-page {
  padding: 40px 0;

  .privacy-page__title {
    margin-bottom: 32px;
    text-align: center;
  }

  .privacy-page__section {
    margin-bottom: 32px;

    & > h3 {
      margin-bottom: 16px;
      font-weight: bold;
    }

    & > p {
      margin-bottom: 16px;
    }
  }
}
