.portfolio-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  padding: clamp(44px, 6vw, 120px) 0 clamp(24px, 3vw, 40px);

  max-width: 920px;
  margin: 0 auto;

  @media (max-width: 720px) {
    gap: 18px;
  }
}

.portfolio-header {
  .page-header {
    background-position: center top;
  }
}
